#### Code to extract all the features required and write to relevant CSV files

In [1]:
import pandas as pd
import glob
import numpy as np

In [2]:
df = pd.concat([pd.read_csv(f) for f in glob.glob('Kickstarter_2019-08-15T03_20_03_022Z/*.csv')], ignore_index = True)

In [3]:
df.columns

Index(['backers_count', 'blurb', 'category', 'converted_pledged_amount',
       'country', 'created_at', 'creator', 'currency', 'currency_symbol',
       'currency_trailing_code', 'current_currency', 'deadline',
       'disable_communication', 'friends', 'fx_rate', 'goal', 'id',
       'is_backing', 'is_starrable', 'is_starred', 'launched_at', 'location',
       'name', 'permissions', 'photo', 'pledged', 'profile', 'slug',
       'source_url', 'spotlight', 'staff_pick', 'state', 'state_changed_at',
       'static_usd_rate', 'urls', 'usd_pledged', 'usd_type'],
      dtype='object')

In [4]:
######## First dropping the irrelevant columns ############
colDrop = ['converted_pledged_amount','creator','currency_symbol','currency_trailing_code','friends',
           'fx_rate','is_backing','is_starrable','is_starred','permissions','photo','profile','source_url',
           'usd_type','urls','static_usd_rate']
df = df.drop(colDrop, axis=1)
df.columns

Index(['backers_count', 'blurb', 'category', 'country', 'created_at',
       'currency', 'current_currency', 'deadline', 'disable_communication',
       'goal', 'id', 'launched_at', 'location', 'name', 'pledged', 'slug',
       'spotlight', 'staff_pick', 'state', 'state_changed_at', 'usd_pledged'],
      dtype='object')

In [5]:
##### Calculating the average amount pledged amount per project ##########
df['avgAmountPledged'] = (df['usd_pledged']/df['backers_count'])
df['avgAmountPledged'] = df['avgAmountPledged'].fillna(0.0)
df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,disable_communication,goal,...,location,name,pledged,slug,spotlight,staff_pick,state,state_changed_at,usd_pledged,avgAmountPledged
0,103,"Funding the mixing, mastering, and promotion o...","{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1456593666,USD,USD,1459964983,False,5000.0,...,"{""id"":2452078,""name"":""Minneapolis"",""slug"":""min...",John Chuck & The Class Debut E.P.,5612.0,john-chuck-and-the-class-debut-ep,True,True,successful,1459964983,5612.0,54.485437
1,318,We follow the challenges and achievements of g...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1495058182,USD,USD,1499054400,False,24042.0,...,"{""id"":2442047,""name"":""Los Angeles"",""slug"":""los...",Girls of Summer: Big Diamond Dreams,26237.0,girls-of-summer-big-diamond-dreams,True,True,successful,1499054401,26237.0,82.506289
2,0,Task No.1 is inspired by the history and expre...,"{""id"":38,""name"":""Electronic Music"",""slug"":""mus...",GB,1357630802,GBP,USD,1362937678,False,4000.0,...,"{""id"":26734,""name"":""Liverpool"",""slug"":""liverpo...",Task No.1,0.0,task-no1,False,False,failed,1362937678,0.0,0.000000
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,"{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1455591114,USD,USD,1457935200,False,500.0,...,"{""id"":2391279,""name"":""Denver"",""slug"":""denver-c...",Future Heroes - SXSW IS CALLING,1575.0,future-heroes-sxsw-is-calling,True,False,successful,1457935201,1575.0,71.590909
4,17,We're traveling to Rhode Island to film Mako a...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1465224753,USD,USD,1467825675,False,2500.0,...,"{""id"":2457078,""name"":""Narragansett"",""slug"":""na...",Rhode Island Pelagic Shark Diving conservation...,3290.0,pelagic-shark-diving-shoot,True,False,successful,1467825676,3290.0,193.529412

In [6]:
###### Calculating the slug length #########
df['slug_length'] = df['slug'].str.len()

In [7]:
# drop different states
# Number of projects of different states
df.state.value_counts()

successful    118183
failed         74143
canceled        8456
live            6207
suspended        632
Name: state, dtype: int64

In [8]:
# Dropping projects which are not successes or failures
df = df[df['state'].isin(['successful', 'failed'])]

In [9]:
df['state_bool'] = np.where(df['state'] == 'successful', 1, 0)
df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,disable_communication,goal,...,pledged,slug,spotlight,staff_pick,state,state_changed_at,usd_pledged,avgAmountPledged,slug_length,state_bool
0,103,"Funding the mixing, mastering, and promotion o...","{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1456593666,USD,USD,1459964983,False,5000.0,...,5612.0,john-chuck-and-the-class-debut-ep,True,True,successful,1459964983,5612.0,54.485437,33,1
1,318,We follow the challenges and achievements of g...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1495058182,USD,USD,1499054400,False,24042.0,...,26237.0,girls-of-summer-big-diamond-dreams,True,True,successful,1499054401,26237.0,82.506289,34,1
2,0,Task No.1 is inspired by the history and expre...,"{""id"":38,""name"":""Electronic Music"",""slug"":""mus...",GB,1357630802,GBP,USD,1362937678,False,4000.0,...,0.0,task-no1,False,False,failed,1362937678,0.0,0.000000,8,0
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,"{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1455591114,USD,USD,1457935200,False,500.0,...,1575.0,future-heroes-sxsw-is-calling,True,False,successful,1457935201,1575.0,71.590909,29,1
4,17,We're traveling to Rhode Island to film Mako a...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1465224753,USD,USD,1467825675,False,2500.0,...,3290.0,pelagic-shark-diving-shoot,True,False,successful,1467825676,3290.0,193.529412,26,1

In [10]:
######## Converting from linux timestamp format to mm-dd-yyyy format for all the dates ###########
import time
df['launched_date'] = pd.to_datetime(df['launched_at'],unit="s")
df['deadline_date'] = pd.to_datetime(df['deadline'],unit="s")
df['created_date'] = pd.to_datetime(df['created_at'],unit="s")
df['state_changed_at_date'] = pd.to_datetime(df['state_changed_at'],unit="s")

In [11]:
###### Extracting the launch year, launch month and launch day ######
df['launch_year'] = df['launched_date'].dt.year

df['launch_month'] = df['launched_date'].dt.month
df['launch_month_name'] = df['launched_date'].dt.month_name()

df['launch_day'] = df['launched_date'].dt.weekday
df['launch_day_name'] = df['launched_date'].dt.weekday_name

df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,disable_communication,goal,...,state_bool,launched_date,deadline_date,created_date,state_changed_at_date,launch_year,launch_month,launch_month_name,launch_day,launch_day_name
0,103,"Funding the mixing, mastering, and promotion o...","{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1456593666,USD,USD,1459964983,False,5000.0,...,1,2016-03-07 18:49:43,2016-04-06 17:49:43,2016-02-27 17:21:06,2016-04-06 17:49:43,2016,3,March,0,Monday
1,318,We follow the challenges and achievements of g...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1495058182,USD,USD,1499054400,False,24042.0,...,1,2017-06-06 14:32:40,2017-07-03 04:00:00,2017-05-17 21:56:22,2017-07-03 04:00:01,2017,6,June,1,Tuesday
2,0,Task No.1 is inspired by the history and expre...,"{""id"":38,""name"":""Electronic Music"",""slug"":""mus...",GB,1357630802,GBP,USD,1362937678,False,4000.0,...,0,2013-01-09 17:47:58,2013-03-10 17:47:58,2013-01-08 07:40:02,2013-03-10 17:47:58,2013,1,January,2,Wednesday
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,"{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1455591114,USD,USD,1457935200,False,500.0,...,1,2016-02-23 18:03:01,2016-03-14 06:00:00,2016-02-16 02:51:54,2016-03-14 06:00:01,2016,2,February,1,Tuesday
4,17,We're traveling to Rhode Island to film Mako a...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1465224753,USD,USD,1467825675,False,2500.0,...,1,2016-06-06 17:21:15,2016-07-06 17:21:15,2016-06-06 14:52:33,2016-07-06 17:21:16,2016,6,June,0,Monday

In [12]:
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date

# Campaign length
df['campaign_days'] = df['deadline_date'] - df['launched_date']
df['campaign_days']=df['campaign_days']/np.timedelta64(1,'D')
df['campaign_days']=df['campaign_days'].round(0)

In [13]:
# Time between creating and launching a project
df['creation_to_launch_days'] = df['launched_date'] - df['created_date']
df['creation_to_launch_days'] = df['creation_to_launch_days']/np.timedelta64(1,'D')
df['creation_to_launch_days']=df['creation_to_launch_days'].round(0)

df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,disable_communication,goal,...,deadline_date,created_date,state_changed_at_date,launch_year,launch_month,launch_month_name,launch_day,launch_day_name,campaign_days,creation_to_launch_days
0,103,"Funding the mixing, mastering, and promotion o...","{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1456593666,USD,USD,1459964983,False,5000.0,...,2016-04-06 17:49:43,2016-02-27 17:21:06,2016-04-06 17:49:43,2016,3,March,0,Monday,30.0,9.0
1,318,We follow the challenges and achievements of g...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1495058182,USD,USD,1499054400,False,24042.0,...,2017-07-03 04:00:00,2017-05-17 21:56:22,2017-07-03 04:00:01,2017,6,June,1,Tuesday,27.0,20.0
2,0,Task No.1 is inspired by the history and expre...,"{""id"":38,""name"":""Electronic Music"",""slug"":""mus...",GB,1357630802,GBP,USD,1362937678,False,4000.0,...,2013-03-10 17:47:58,2013-01-08 07:40:02,2013-03-10 17:47:58,2013,1,January,2,Wednesday,60.0,1.0
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,"{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1455591114,USD,USD,1457935200,False,500.0,...,2016-03-14 06:00:00,2016-02-16 02:51:54,2016-03-14 06:00:01,2016,2,February,1,Tuesday,19.0,8.0
4,17,We're traveling to Rhode Island to film Mako a...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1465224753,USD,USD,1467825675,False,2500.0,...,2016-07-06 17:21:15,2016-06-06 14:52:33,2016-07-06 17:21:16,2016,6,June,0,Monday,30.0,0.0

In [14]:
df['state_changed_at_year'] = df['state_changed_at_date'].dt.year
df['state_changed_at_month'] = df['state_changed_at_date'].dt.month
df['state_changed_at_month_name'] = df['state_changed_at_date'].dt.month_name()
df['state_changed_at_day'] = df['state_changed_at_date'].dt.weekday
df['state_changed_at_day_name'] = df['state_changed_at_date'].dt.weekday_name

In [15]:
df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,disable_communication,goal,...,launch_month_name,launch_day,launch_day_name,campaign_days,creation_to_launch_days,state_changed_at_year,state_changed_at_month,state_changed_at_month_name,state_changed_at_day,state_changed_at_day_name
0,103,"Funding the mixing, mastering, and promotion o...","{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1456593666,USD,USD,1459964983,False,5000.0,...,March,0,Monday,30.0,9.0,2016,4,April,2,Wednesday
1,318,We follow the challenges and achievements of g...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1495058182,USD,USD,1499054400,False,24042.0,...,June,1,Tuesday,27.0,20.0,2017,7,July,0,Monday
2,0,Task No.1 is inspired by the history and expre...,"{""id"":38,""name"":""Electronic Music"",""slug"":""mus...",GB,1357630802,GBP,USD,1362937678,False,4000.0,...,January,2,Wednesday,60.0,1.0,2013,3,March,6,Sunday
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,"{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1455591114,USD,USD,1457935200,False,500.0,...,February,1,Tuesday,19.0,8.0,2016,3,March,0,Monday
4,17,We're traveling to Rhode Island to film Mako a...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1465224753,USD,USD,1467825675,False,2500.0,...,June,0,Monday,30.0,0.0,2016,7,July,2,Wednesday

In [16]:
#Information about the duplicates
print(f"Of the {len(df)} projects in the dataset, there are {len(df[df.duplicated(subset='id')])} which are listed more than once.")

Of the 192326 projects in the dataset, there are 22364 which are listed more than once.

In [17]:
#Dropping the duplicate rows which have the same id, and keeping the last one
df.drop_duplicates(subset='id', keep='last', inplace=True)
print("Total number of projects after dropping the duplicates are {}".format(len(df)))

Total number of projects after dropping the duplicates are 169962

In [18]:
#Processing the category column to extract the category and sub-category
import json
def getSubCategory(x):
    category = x['category']
    category_dict = json.loads(category)
    slug = category_dict['slug']
    temp_split = slug.split("/")
    if len(temp_split) == 2:
        #sub-category exists
        return temp_split[1]
    
def getCategory(x):
    category = x['category']
    category_dict = json.loads(category)
    slug = category_dict['slug']
    temp_split = slug.split("/")
    return temp_split[0]

In [19]:
df['sub_category'] = df.apply(getSubCategory, axis=1)
df['category'] = df.apply(getCategory, axis=1)

In [20]:
print(f"There are {df.category.nunique()} unique categories and {df.sub_category.nunique()} unique sub-categories.")

There are 15 unique categories and 144 unique sub-categories.

In [21]:
df.disable_communication.value_counts(normalize=True)

False    1.0
Name: disable_communication, dtype: float64

In [22]:
#Most of them are False, so we can discard the feature
df.drop(['disable_communication'], axis=1, inplace=True)
df.columns

Index(['backers_count', 'blurb', 'category', 'country', 'created_at',
       'currency', 'current_currency', 'deadline', 'goal', 'id', 'launched_at',
       'location', 'name', 'pledged', 'slug', 'spotlight', 'staff_pick',
       'state', 'state_changed_at', 'usd_pledged', 'avgAmountPledged',
       'slug_length', 'state_bool', 'launched_date', 'deadline_date',
       'created_date', 'state_changed_at_date', 'launch_year', 'launch_month',
       'launch_month_name', 'launch_day', 'launch_day_name', 'campaign_days',
       'creation_to_launch_days', 'state_changed_at_year',
       'state_changed_at_month', 'state_changed_at_month_name',
       'state_changed_at_day', 'state_changed_at_day_name', 'sub_category'],
      dtype='object')

In [23]:
#Countries
#Steps to convert the country features into one hot features

#Convert them to type categorical
df['country'] = pd.Categorical(df['country'])
dfDummies = pd.get_dummies(df['country'], prefix = 'country')

#Concatenate to the original dataframe and drop the country variable
df = pd.concat([df, dfDummies], axis=1)
df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,goal,id,...,country_IT,country_JP,country_LU,country_MX,country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
0,103,"Funding the mixing, mastering, and promotion o...",music,US,1456593666,USD,USD,1459964983,5000.0,1023090679,...,0,0,0,0,0,0,0,0,0,1
1,318,We follow the challenges and achievements of g...,film & video,US,1495058182,USD,USD,1499054400,24042.0,1225553537,...,0,0,0,0,0,0,0,0,0,1
2,0,Task No.1 is inspired by the history and expre...,music,GB,1357630802,GBP,USD,1362937678,4000.0,688464571,...,0,0,0,0,0,0,0,0,0,0
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,music,US,1455591114,USD,USD,1457935200,500.0,1502047884,...,0,0,0,0,0,0,0,0,0,1
4,17,We're traveling to Rhode Island to film Mako a...,film & video,US,1465224753,USD,USD,1467825675,2500.0,1096433232,...,0,0,0,0,0,0,0,0,0,1

In [24]:
#Drop the location column
df.drop(['location'], axis=1, inplace=True)
df.columns

Index(['backers_count', 'blurb', 'category', 'country', 'created_at',
       'currency', 'current_currency', 'deadline', 'goal', 'id', 'launched_at',
       'name', 'pledged', 'slug', 'spotlight', 'staff_pick', 'state',
       'state_changed_at', 'usd_pledged', 'avgAmountPledged', 'slug_length',
       'state_bool', 'launched_date', 'deadline_date', 'created_date',
       'state_changed_at_date', 'launch_year', 'launch_month',
       'launch_month_name', 'launch_day', 'launch_day_name', 'campaign_days',
       'creation_to_launch_days', 'state_changed_at_year',
       'state_changed_at_month', 'state_changed_at_month_name',
       'state_changed_at_day', 'state_changed_at_day_name', 'sub_category',
       'country_AT', 'country_AU', 'country_BE', 'country_CA', 'country_CH',
       'country_DE', 'country_DK', 'country_ES', 'country_FR', 'country_GB',
       'country_HK', 'country_IE', 'country_IT', 'country_JP', 'country_LU',
       'country_MX', 'country_NL', 'country_NO', 'country_NZ', 'country_SE',
       'country_SG', 'country_US'],
      dtype='object')

In [25]:
#Converting category variable to categorical variable
df['category'] = pd.Categorical(df['category'])
dfDummies = pd.get_dummies(df['category'], prefix = 'category')

#Concatenate to the original dataframe and drop the country variable
df = pd.concat([df, dfDummies], axis=1)
df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,goal,id,...,category_fashion,category_film & video,category_food,category_games,category_journalism,category_music,category_photography,category_publishing,category_technology,category_theater
0,103,"Funding the mixing, mastering, and promotion o...",music,US,1456593666,USD,USD,1459964983,5000.0,1023090679,...,0,0,0,0,0,1,0,0,0,0
1,318,We follow the challenges and achievements of g...,film & video,US,1495058182,USD,USD,1499054400,24042.0,1225553537,...,0,1,0,0,0,0,0,0,0,0
2,0,Task No.1 is inspired by the history and expre...,music,GB,1357630802,GBP,USD,1362937678,4000.0,688464571,...,0,0,0,0,0,1,0,0,0,0
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,music,US,1455591114,USD,USD,1457935200,500.0,1502047884,...,0,0,0,0,0,1,0,0,0,0
4,17,We're traveling to Rhode Island to film Mako a...,film & video,US,1465224753,USD,USD,1467825675,2500.0,1096433232,...,0,1,0,0,0,0,0,0,0,0

In [26]:
############For adding the name_length and blurb_length columns #################

df_clean = pd.read_csv('cleaned_aaron0.csv')
df_clean.head()

,Unnamed: 0,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,goal,...,category_food,category_games,category_journalism,category_music,category_photography,category_publishing,category_technology,category_theater,blurb_length,name_length
0,0,103,"Funding the mixing, mastering, and promotion o...",music,US,1456593666,USD,USD,1459964983,5000.0,...,0,0,0,1,0,0,0,0,106.0,33.0
1,1,318,We follow the challenges and achievements of g...,film & video,US,1495058182,USD,USD,1499054400,24042.0,...,0,0,0,0,0,0,0,0,135.0,35.0
2,2,0,Task No.1 is inspired by the history and expre...,music,GB,1357630802,GBP,USD,1362937678,4000.0,...,0,0,0,1,0,0,0,0,119.0,9.0
3,3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,music,US,1455591114,USD,USD,1457935200,500.0,...,0,0,0,1,0,0,0,0,132.0,31.0
4,4,17,We're traveling to Rhode Island to film Mako a...,film & video,US,1465224753,USD,USD,1467825675,2500.0,...,0,0,0,0,0,0,0,0,121.0,57.0

In [27]:
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date
import time

df_clean['deadline_date'] = pd.to_datetime(df_clean['deadline'],unit="s")
df_clean['deadline_month'] = df_clean['deadline_date'].dt.month_name()

In [28]:
df_clean.set_index('id', inplace=True)
df_clean.head()

,Unnamed: 0,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,goal,...,category_games,category_journalism,category_music,category_photography,category_publishing,category_technology,category_theater,blurb_length,name_length,deadline_month
id,,,,,,,,,,,,,,,,,,,,,
1023090679,0,103,"Funding the mixing, mastering, and promotion o...",music,US,1456593666,USD,USD,1459964983,5000.0,...,0,0,1,0,0,0,0,106.0,33.0,April
1225553537,1,318,We follow the challenges and achievements of g...,film & video,US,1495058182,USD,USD,1499054400,24042.0,...,0,0,0,0,0,0,0,135.0,35.0,July
688464571,2,0,Task No.1 is inspired by the history and expre...,music,GB,1357630802,GBP,USD,1362937678,4000.0,...,0,0,1,0,0,0,0,119.0,9.0,March
1502047884,3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,music,US,1455591114,USD,USD,1457935200,500.0,...,0,0,1,0,0,0,0,132.0,31.0,March
1096433232,4,17,We're traveling to Rhode Island to film Mako a...,film & video,US,1465224753,USD,USD,1467825675,2500.0,...,0,0,0,0,0,0,0,121.0,57.0,July

In [29]:
df_clean.iloc[0]['staff_pick']

True

In [30]:
df_clean['staff_pick'] = df_clean['staff_pick'].replace({True: 1, False: 0})

In [31]:
df_clean.drop(['Unnamed: 0'], axis=1, inplace=True)

In [34]:
df_clean.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,goal,launched_at,...,category_games,category_journalism,category_music,category_photography,category_publishing,category_technology,category_theater,blurb_length,name_length,deadline_month
id,,,,,,,,,,,,,,,,,,,,,
1023090679,103,"Funding the mixing, mastering, and promotion o...",music,US,1456593666,USD,USD,1459964983,5000.0,1457376583,...,0,0,1,0,0,0,0,106.0,33.0,April
1225553537,318,We follow the challenges and achievements of g...,film & video,US,1495058182,USD,USD,1499054400,24042.0,1496759560,...,0,0,0,0,0,0,0,135.0,35.0,July
688464571,0,Task No.1 is inspired by the history and expre...,music,GB,1357630802,GBP,USD,1362937678,4000.0,1357753678,...,0,0,1,0,0,0,0,119.0,9.0,March
1502047884,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,music,US,1455591114,USD,USD,1457935200,500.0,1456250581,...,0,0,1,0,0,0,0,132.0,31.0,March
1096433232,17,We're traveling to Rhode Island to film Mako a...,film & video,US,1465224753,USD,USD,1467825675,2500.0,1465233675,...,0,0,0,0,0,0,0,121.0,57.0,July

In [ ]:
########### Final cleaned data without the sentiments ################
export_csv = df_clean.to_csv(r'final_cleaned_data.csv', index=None, header=True)

In [35]:
############# Constructing the dataframe for model ################
df_model = df_clean.drop(['blurb', 'category', 'country', 'created_at', 'currency', 'current_currency',
                         'deadline', 'launched_at', 'name', 'slug', 'spotlight', 'state', 'state_changed_at',
                         'pledged', 'launched_date', 'deadline_date', 'created_date', 'state_changed_at_date',
                         'launch_year', 'launch_month_name', 'launch_day_name', 'state_changed_at_year', 
                         'state_changed_at_month', 'state_changed_at_month_name', 'state_changed_at_day', 'state_changed_at_day_name',
                         'sub_category'], axis=1)

In [36]:
############# Conversions into categorical variables ##############
df_model['launch_month'] = pd.Categorical(df_model['launch_month'])
dfDummies = pd.get_dummies(df_model['launch_month'], prefix = 'launch_month')

#Concatenate to the original dataframe and drop the country variable
df_model = pd.concat([df_model, dfDummies], axis=1)

df_model['launch_day'] = pd.Categorical(df_model['launch_day'])
dfDummies = pd.get_dummies(df_model['launch_day'], prefix = 'launch_day')

#Concatenate to the original dataframe and drop the country variable
df_model = pd.concat([df_model, dfDummies], axis=1)

df_model['deadline_month'] = pd.Categorical(df_model['deadline_month'])
dfDummies = pd.get_dummies(df_model['deadline_month'], prefix = 'deadline_month')

#Concatenate to the original dataframe and drop the country variable
df_model = pd.concat([df_model, dfDummies], axis=1)

In [37]:
df_model.head()

,backers_count,goal,staff_pick,usd_pledged,avgAmountPledged,slug_length,state_bool,launch_month,launch_day,campaign_days,...,deadline_month_December,deadline_month_February,deadline_month_January,deadline_month_July,deadline_month_June,deadline_month_March,deadline_month_May,deadline_month_November,deadline_month_October,deadline_month_September
id,,,,,,,,,,,,,,,,,,,,,
1023090679,103,5000.0,1,5612.0,54.485437,33,1,3,0,30.0,...,0,0,0,0,0,0,0,0,0,0
1225553537,318,24042.0,1,26237.0,82.506289,34,1,6,1,27.0,...,0,0,0,1,0,0,0,0,0,0
688464571,0,4000.0,0,0.0,0.000000,8,0,1,2,60.0,...,0,0,0,0,0,1,0,0,0,0
1502047884,22,500.0,0,1575.0,71.590909,29,1,2,1,19.0,...,0,0,0,0,0,1,0,0,0,0
1096433232,17,2500.0,0,3290.0,193.529412,26,1,6,0,30.0,...,0,0,0,1,0,0,0,0,0,0

In [38]:
df_model.drop(['launch_month', 'launch_day', 'deadline_month'], axis=1, inplace=True)

In [39]:
df_model.head()

,backers_count,goal,staff_pick,usd_pledged,avgAmountPledged,slug_length,state_bool,campaign_days,creation_to_launch_days,country_AT,...,deadline_month_December,deadline_month_February,deadline_month_January,deadline_month_July,deadline_month_June,deadline_month_March,deadline_month_May,deadline_month_November,deadline_month_October,deadline_month_September
id,,,,,,,,,,,,,,,,,,,,,
1023090679,103,5000.0,1,5612.0,54.485437,33,1,30.0,9.0,0,...,0,0,0,0,0,0,0,0,0,0
1225553537,318,24042.0,1,26237.0,82.506289,34,1,27.0,20.0,0,...,0,0,0,1,0,0,0,0,0,0
688464571,0,4000.0,0,0.0,0.000000,8,0,60.0,1.0,0,...,0,0,0,0,0,1,0,0,0,0
1502047884,22,500.0,0,1575.0,71.590909,29,1,19.0,8.0,0,...,0,0,0,0,0,1,0,0,0,0
1096433232,17,2500.0,0,3290.0,193.529412,26,1,30.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
############# Final cleaned data without sentiments for the models ##################
export_csv = df_model.to_csv(r'final_cleaned_data_ML.csv', index=None, header=True)

In [41]:
################# Adding the sentiment predictions ####################
sentimentData = pd.read_csv("aaron_sentiment_predictions.csv")
sentimentData.columns

Index(['Unnamed: 0', 'backers_count', 'blurb', 'category', 'country',
       'created_at', 'currency', 'current_currency', 'deadline', 'goal', 'id',
       'launched_at', 'name', 'pledged', 'slug', 'spotlight', 'staff_pick',
       'state', 'state_changed_at', 'usd_pledged', 'avgAmountPledged',
       'slug_length', 'state_bool', 'launched_date', 'deadline_date',
       'created_date', 'state_changed_at_date', 'launch_year', 'launch_month',
       'launch_month_name', 'launch_day', 'launch_day_name', 'campaign_days',
       'creation_to_launch_days', 'state_changed_at_year',
       'state_changed_at_month', 'state_changed_at_month_name',
       'state_changed_at_day', 'state_changed_at_day_name', 'sub_category',
       'country_AT', 'country_AU', 'country_BE', 'country_CA', 'country_CH',
       'country_DE', 'country_DK', 'country_ES', 'country_FR', 'country_GB',
       'country_HK', 'country_IE', 'country_IT', 'country_JP', 'country_LU',
       'country_MX', 'country_NL', 'country_NO', 'country_NZ', 'country_SE',
       'country_SG', 'country_US', 'category_art', 'category_comics',
       'category_crafts', 'category_dance', 'category_design',
       'category_fashion', 'category_film & video', 'category_food',
       'category_games', 'category_journalism', 'category_music',
       'category_photography', 'category_publishing', 'category_technology',
       'category_theater', 'blurb_length', 'name_length',
       'name_sentiment_predictions', 'blurb_sentiment_predictions'],
      dtype='object')

In [42]:
columnsToKeep = ['name_sentiment_predictions','blurb_sentiment_predictions']
extracted_sentimentData  = sentimentData[columnsToKeep].copy()

In [43]:
extracted_sentimentData.head()

  name_sentiment_predictions blurb_sentiment_predictions
0                   positive                    positive
1                   positive                    positive
2                   negative                    negative
3                   positive                    negative
4                   positive                    positive

In [44]:
df = pd.read_csv("final_cleaned_data.csv")
df.columns

Index(['Unnamed: 0', 'backers_count', 'blurb', 'category', 'country',
       'created_at', 'currency', 'current_currency', 'deadline', 'goal',
       'launched_at', 'name', 'pledged', 'slug', 'spotlight', 'staff_pick',
       'state', 'state_changed_at', 'usd_pledged', 'avgAmountPledged',
       'slug_length', 'state_bool', 'launched_date', 'deadline_date',
       'created_date', 'state_changed_at_date', 'launch_year', 'launch_month',
       'launch_month_name', 'launch_day', 'launch_day_name', 'campaign_days',
       'creation_to_launch_days', 'state_changed_at_year',
       'state_changed_at_month', 'state_changed_at_month_name',
       'state_changed_at_day', 'state_changed_at_day_name', 'sub_category',
       'country_AT', 'country_AU', 'country_BE', 'country_CA', 'country_CH',
       'country_DE', 'country_DK', 'country_ES', 'country_FR', 'country_GB',
       'country_HK', 'country_IE', 'country_IT', 'country_JP', 'country_LU',
       'country_MX', 'country_NL', 'country_NO', 'country_NZ', 'country_SE',
       'country_SG', 'country_US', 'category_art', 'category_comics',
       'category_crafts', 'category_dance', 'category_design',
       'category_fashion', 'category_film & video', 'category_food',
       'category_games', 'category_journalism', 'category_music',
       'category_photography', 'category_publishing', 'category_technology',
       'category_theater', 'blurb_length', 'name_length', 'deadline_month'],
      dtype='object')

In [45]:
newDataDF = pd.concat([df,extracted_sentimentData],axis =1)
newDataDF.columns

Index(['Unnamed: 0', 'backers_count', 'blurb', 'category', 'country',
       'created_at', 'currency', 'current_currency', 'deadline', 'goal',
       'launched_at', 'name', 'pledged', 'slug', 'spotlight', 'staff_pick',
       'state', 'state_changed_at', 'usd_pledged', 'avgAmountPledged',
       'slug_length', 'state_bool', 'launched_date', 'deadline_date',
       'created_date', 'state_changed_at_date', 'launch_year', 'launch_month',
       'launch_month_name', 'launch_day', 'launch_day_name', 'campaign_days',
       'creation_to_launch_days', 'state_changed_at_year',
       'state_changed_at_month', 'state_changed_at_month_name',
       'state_changed_at_day', 'state_changed_at_day_name', 'sub_category',
       'country_AT', 'country_AU', 'country_BE', 'country_CA', 'country_CH',
       'country_DE', 'country_DK', 'country_ES', 'country_FR', 'country_GB',
       'country_HK', 'country_IE', 'country_IT', 'country_JP', 'country_LU',
       'country_MX', 'country_NL', 'country_NO', 'country_NZ', 'country_SE',
       'country_SG', 'country_US', 'category_art', 'category_comics',
       'category_crafts', 'category_dance', 'category_design',
       'category_fashion', 'category_film & video', 'category_food',
       'category_games', 'category_journalism', 'category_music',
       'category_photography', 'category_publishing', 'category_technology',
       'category_theater', 'blurb_length', 'name_length', 'deadline_month',
       'name_sentiment_predictions', 'blurb_sentiment_predictions'],
      dtype='object')

In [ ]:
############ Final cleaned data with the sentiments #################
newDataDF.to_csv("final_cleaned_data_sentiments.csv",index=False)

In [46]:
data = pd.read_csv("final_cleaned_data_ML.csv")
data.columns

Index(['goal', 'staff_pick', 'slug_length', 'state_bool', 'campaign_days',
       'creation_to_launch_days', 'country_AT', 'country_AU', 'country_BE',
       'country_CA', 'country_CH', 'country_DE', 'country_DK', 'country_ES',
       'country_FR', 'country_GB', 'country_HK', 'country_IE', 'country_IT',
       'country_JP', 'country_LU', 'country_MX', 'country_NL', 'country_NO',
       'country_NZ', 'country_SE', 'country_SG', 'country_US', 'category_art',
       'category_comics', 'category_crafts', 'category_dance',
       'category_design', 'category_fashion', 'category_film & video',
       'category_food', 'category_games', 'category_journalism',
       'category_music', 'category_photography', 'category_publishing',
       'category_technology', 'category_theater', 'blurb_length',
       'name_length', 'launch_month_1', 'launch_month_2', 'launch_month_3',
       'launch_month_4', 'launch_month_5', 'launch_month_6', 'launch_month_7',
       'launch_month_8', 'launch_month_9', 'launch_month_10',
       'launch_month_11', 'launch_month_12', 'launch_day_0', 'launch_day_1',
       'launch_day_2', 'launch_day_3', 'launch_day_4', 'launch_day_5',
       'launch_day_6', 'deadline_month_April', 'deadline_month_August',
       'deadline_month_December', 'deadline_month_February',
       'deadline_month_January', 'deadline_month_July', 'deadline_month_June',
       'deadline_month_March', 'deadline_month_May', 'deadline_month_November',
       'deadline_month_October', 'deadline_month_September'],
      dtype='object')

In [47]:
newData = pd.concat([data,extracted_sentimentData],axis =1)

In [48]:
newData.columns

Index(['goal', 'staff_pick', 'slug_length', 'state_bool', 'campaign_days',
       'creation_to_launch_days', 'country_AT', 'country_AU', 'country_BE',
       'country_CA', 'country_CH', 'country_DE', 'country_DK', 'country_ES',
       'country_FR', 'country_GB', 'country_HK', 'country_IE', 'country_IT',
       'country_JP', 'country_LU', 'country_MX', 'country_NL', 'country_NO',
       'country_NZ', 'country_SE', 'country_SG', 'country_US', 'category_art',
       'category_comics', 'category_crafts', 'category_dance',
       'category_design', 'category_fashion', 'category_film & video',
       'category_food', 'category_games', 'category_journalism',
       'category_music', 'category_photography', 'category_publishing',
       'category_technology', 'category_theater', 'blurb_length',
       'name_length', 'launch_month_1', 'launch_month_2', 'launch_month_3',
       'launch_month_4', 'launch_month_5', 'launch_month_6', 'launch_month_7',
       'launch_month_8', 'launch_month_9', 'launch_month_10',
       'launch_month_11', 'launch_month_12', 'launch_day_0', 'launch_day_1',
       'launch_day_2', 'launch_day_3', 'launch_day_4', 'launch_day_5',
       'launch_day_6', 'deadline_month_April', 'deadline_month_August',
       'deadline_month_December', 'deadline_month_February',
       'deadline_month_January', 'deadline_month_July', 'deadline_month_June',
       'deadline_month_March', 'deadline_month_May', 'deadline_month_November',
       'deadline_month_October', 'deadline_month_September',
       'name_sentiment_predictions', 'blurb_sentiment_predictions'],
      dtype='object')

In [49]:
newData['name_sentiment_predictions'] = pd.Categorical(newData['name_sentiment_predictions'])
dataDummies = pd.get_dummies(newData['name_sentiment_predictions'], prefix = 'name_sentiment')

#Concatenate to the original dataframe and drop the name_sentiment_predictions variable
newData = pd.concat([newData, dataDummies], axis=1)

newData['blurb_sentiment_predictions'] = pd.Categorical(newData['blurb_sentiment_predictions'])
dataDummies = pd.get_dummies(newData['blurb_sentiment_predictions'], prefix = 'blurb_sentiment')

#Concatenate to the original dataframe and drop the name_sentiment_predictions variable
newData = pd.concat([newData, dataDummies], axis=1)

In [50]:
newData = newData.drop(['name_sentiment_predictions','blurb_sentiment_predictions'],axis=1)

In [51]:
newData.head()

,goal,staff_pick,slug_length,state_bool,campaign_days,creation_to_launch_days,country_AT,country_AU,country_BE,country_CA,...,deadline_month_May,deadline_month_November,deadline_month_October,deadline_month_September,name_sentiment_negative,name_sentiment_neutral,name_sentiment_positive,blurb_sentiment_negative,blurb_sentiment_neutral,blurb_sentiment_positive
0,5000.0,1,33,1,30.0,9.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,24042.0,1,34,1,27.0,20.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,4000.0,0,8,0,60.0,1.0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,500.0,0,29,1,19.0,8.0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4,2500.0,0,26,1,30.0,0.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [52]:
############ Final cleaned data for models with sentiments ##################
newData.to_csv("final_cleaned_data_ML_sentiments.csv",index=False)