In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
# Importing the required libraries
import pandas as pd
pd.set_option('display.max_columns', 50) # Display up to 50 columns at a time
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
!pwd

/content

In [0]:
!cd ./drive/My\ Drive

In [0]:
cd ./drive/

/content/drive

In [0]:
cd ./My\ Drive

/content/drive/My Drive

In [0]:
df = pd.read_csv("cleanedCSV.csv")

In [0]:
df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,disable_communication,goal,id,launched_at,location,name,pledged,slug,spotlight,staff_pick,state,state_changed_at,usd_pledged,avgAmountPledged
0,103,"Funding the mixing, mastering, and promotion o...","{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1456593666,USD,USD,1459964983,False,5000.0,1023090679,1457376583,"{""id"":2452078,""name"":""Minneapolis"",""slug"":""min...",John Chuck & The Class Debut E.P.,5612.0,john-chuck-and-the-class-debut-ep,True,True,successful,1459964983,5612.0,54.485437
1,318,We follow the challenges and achievements of g...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1495058182,USD,USD,1499054400,False,24042.0,1225553537,1496759560,"{""id"":2442047,""name"":""Los Angeles"",""slug"":""los...",Girls of Summer: Big Diamond Dreams,26237.0,girls-of-summer-big-diamond-dreams,True,True,successful,1499054401,26237.0,82.506289
2,0,Task No.1 is inspired by the history and expre...,"{""id"":38,""name"":""Electronic Music"",""slug"":""mus...",GB,1357630802,GBP,USD,1362937678,False,4000.0,688464571,1357753678,"{""id"":26734,""name"":""Liverpool"",""slug"":""liverpo...",Task No.1,0.0,task-no1,False,False,failed,1362937678,0.0,0.000000
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,"{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1455591114,USD,USD,1457935200,False,500.0,1502047884,1456250581,"{""id"":2391279,""name"":""Denver"",""slug"":""denver-c...",Future Heroes - SXSW IS CALLING,1575.0,future-heroes-sxsw-is-calling,True,False,successful,1457935201,1575.0,71.590909
4,17,We're traveling to Rhode Island to film Mako a...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1465224753,USD,USD,1467825675,False,2500.0,1096433232,1465233675,"{""id"":2457078,""name"":""Narragansett"",""slug"":""na...",Rhode Island Pelagic Shark Diving conservation...,3290.0,pelagic-shark-diving-shoot,True,False,successful,1467825676,3290.0,193.529412

In [0]:
df.columns

Index(['backers_count', 'blurb', 'category', 'country', 'created_at',
       'currency', 'current_currency', 'deadline', 'disable_communication',
       'goal', 'id', 'launched_at', 'location', 'name', 'pledged', 'slug',
       'spotlight', 'staff_pick', 'state', 'state_changed_at', 'usd_pledged',
       'avgAmountPledged'],
      dtype='object')

In [0]:
# Count length of each slug
df['slug_length'] = df['slug'].str.len()

In [0]:
# drop different states
# Number of projects of different states
df.state.value_counts()

successful    118183
failed         74143
canceled        8456
live            6207
suspended        632
Name: state, dtype: int64

In [0]:
# Dropping projects which are not successes or failures
df = df[df['state'].isin(['successful', 'failed'])]

In [0]:
df['state_bool'] = np.where(df['state'] == 'successful', 1, 0)

In [0]:
df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,disable_communication,goal,id,launched_at,location,name,pledged,slug,spotlight,staff_pick,state,state_changed_at,usd_pledged,avgAmountPledged,slug_length,state_bool
0,103,"Funding the mixing, mastering, and promotion o...","{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1456593666,USD,USD,1459964983,False,5000.0,1023090679,1457376583,"{""id"":2452078,""name"":""Minneapolis"",""slug"":""min...",John Chuck & The Class Debut E.P.,5612.0,john-chuck-and-the-class-debut-ep,True,True,successful,1459964983,5612.0,54.485437,33,1
1,318,We follow the challenges and achievements of g...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1495058182,USD,USD,1499054400,False,24042.0,1225553537,1496759560,"{""id"":2442047,""name"":""Los Angeles"",""slug"":""los...",Girls of Summer: Big Diamond Dreams,26237.0,girls-of-summer-big-diamond-dreams,True,True,successful,1499054401,26237.0,82.506289,34,1
2,0,Task No.1 is inspired by the history and expre...,"{""id"":38,""name"":""Electronic Music"",""slug"":""mus...",GB,1357630802,GBP,USD,1362937678,False,4000.0,688464571,1357753678,"{""id"":26734,""name"":""Liverpool"",""slug"":""liverpo...",Task No.1,0.0,task-no1,False,False,failed,1362937678,0.0,0.000000,8,0
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,"{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1455591114,USD,USD,1457935200,False,500.0,1502047884,1456250581,"{""id"":2391279,""name"":""Denver"",""slug"":""denver-c...",Future Heroes - SXSW IS CALLING,1575.0,future-heroes-sxsw-is-calling,True,False,successful,1457935201,1575.0,71.590909,29,1
4,17,We're traveling to Rhode Island to film Mako a...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1465224753,USD,USD,1467825675,False,2500.0,1096433232,1465233675,"{""id"":2457078,""name"":""Narragansett"",""slug"":""na...",Rhode Island Pelagic Shark Diving conservation...,3290.0,pelagic-shark-diving-shoot,True,False,successful,1467825676,3290.0,193.529412,26,1

In [0]:
import time
df['launched_date'] = pd.to_datetime(df['launched_at'],unit="s")
df['deadline_date'] = pd.to_datetime(df['deadline'],unit="s")
df['created_date'] = pd.to_datetime(df['created_at'],unit="s")
df['state_changed_at_date'] = pd.to_datetime(df['state_changed_at'],unit="s")

In [0]:
df['launch_year'] = df['launched_date'].dt.year

In [0]:
df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,disable_communication,goal,id,launched_at,location,name,pledged,slug,spotlight,staff_pick,state,state_changed_at,usd_pledged,avgAmountPledged,slug_length,state_bool,launched_date,deadline_date,created_date,state_changed_at_date,launch_year
0,103,"Funding the mixing, mastering, and promotion o...","{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1456593666,USD,USD,1459964983,False,5000.0,1023090679,1457376583,"{""id"":2452078,""name"":""Minneapolis"",""slug"":""min...",John Chuck & The Class Debut E.P.,5612.0,john-chuck-and-the-class-debut-ep,True,True,successful,1459964983,5612.0,54.485437,33,1,2016-03-07 18:49:43,2016-04-06 17:49:43,2016-02-27 17:21:06,2016-04-06 17:49:43,2016
1,318,We follow the challenges and achievements of g...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1495058182,USD,USD,1499054400,False,24042.0,1225553537,1496759560,"{""id"":2442047,""name"":""Los Angeles"",""slug"":""los...",Girls of Summer: Big Diamond Dreams,26237.0,girls-of-summer-big-diamond-dreams,True,True,successful,1499054401,26237.0,82.506289,34,1,2017-06-06 14:32:40,2017-07-03 04:00:00,2017-05-17 21:56:22,2017-07-03 04:00:01,2017
2,0,Task No.1 is inspired by the history and expre...,"{""id"":38,""name"":""Electronic Music"",""slug"":""mus...",GB,1357630802,GBP,USD,1362937678,False,4000.0,688464571,1357753678,"{""id"":26734,""name"":""Liverpool"",""slug"":""liverpo...",Task No.1,0.0,task-no1,False,False,failed,1362937678,0.0,0.000000,8,0,2013-01-09 17:47:58,2013-03-10 17:47:58,2013-01-08 07:40:02,2013-03-10 17:47:58,2013
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,"{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1455591114,USD,USD,1457935200,False,500.0,1502047884,1456250581,"{""id"":2391279,""name"":""Denver"",""slug"":""denver-c...",Future Heroes - SXSW IS CALLING,1575.0,future-heroes-sxsw-is-calling,True,False,successful,1457935201,1575.0,71.590909,29,1,2016-02-23 18:03:01,2016-03-14 06:00:00,2016-02-16 02:51:54,2016-03-14 06:00:01,2016
4,17,We're traveling to Rhode Island to film Mako a...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1465224753,USD,USD,1467825675,False,2500.0,1096433232,1465233675,"{""id"":2457078,""name"":""Narragansett"",""slug"":""na...",Rhode Island Pelagic Shark Diving conservation...,3290.0,pelagic-shark-diving-shoot,True,False,successful,1467825676,3290.0,193.529412,26,1,2016-06-06 17:21:15,2016-07-06 17:21:15,2016-06-06 14:52:33,2016-07-06 17:21:16,2016

In [0]:
df.launch_year.value_counts()

2015    35305
2018    31495
2016    27846
2017    27418
2014    24799
2019    22967
2013     9973
2012     7589
2011     3501
2010     1229
2009      204
Name: launch_year, dtype: int64

In [0]:
df['launch_month'] = df['launched_date'].dt.month
df['launch_month_name'] = df['launched_date'].dt.month_name()

In [0]:
df['launch_day'] = df['launched_date'].dt.weekday
df['launch_day_name'] = df['launched_date'].dt.weekday_name

In [0]:
df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,disable_communication,goal,id,launched_at,location,name,pledged,slug,spotlight,staff_pick,state,state_changed_at,usd_pledged,avgAmountPledged,slug_length,state_bool,launched_date,deadline_date,created_date,state_changed_at_date,launch_year,launch_month,launch_month_name,launch_day,launch_day_name
0,103,"Funding the mixing, mastering, and promotion o...","{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1456593666,USD,USD,1459964983,False,5000.0,1023090679,1457376583,"{""id"":2452078,""name"":""Minneapolis"",""slug"":""min...",John Chuck & The Class Debut E.P.,5612.0,john-chuck-and-the-class-debut-ep,True,True,successful,1459964983,5612.0,54.485437,33,1,2016-03-07 18:49:43,2016-04-06 17:49:43,2016-02-27 17:21:06,2016-04-06 17:49:43,2016,3,March,0,Monday
1,318,We follow the challenges and achievements of g...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1495058182,USD,USD,1499054400,False,24042.0,1225553537,1496759560,"{""id"":2442047,""name"":""Los Angeles"",""slug"":""los...",Girls of Summer: Big Diamond Dreams,26237.0,girls-of-summer-big-diamond-dreams,True,True,successful,1499054401,26237.0,82.506289,34,1,2017-06-06 14:32:40,2017-07-03 04:00:00,2017-05-17 21:56:22,2017-07-03 04:00:01,2017,6,June,1,Tuesday
2,0,Task No.1 is inspired by the history and expre...,"{""id"":38,""name"":""Electronic Music"",""slug"":""mus...",GB,1357630802,GBP,USD,1362937678,False,4000.0,688464571,1357753678,"{""id"":26734,""name"":""Liverpool"",""slug"":""liverpo...",Task No.1,0.0,task-no1,False,False,failed,1362937678,0.0,0.000000,8,0,2013-01-09 17:47:58,2013-03-10 17:47:58,2013-01-08 07:40:02,2013-03-10 17:47:58,2013,1,January,2,Wednesday
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,"{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1455591114,USD,USD,1457935200,False,500.0,1502047884,1456250581,"{""id"":2391279,""name"":""Denver"",""slug"":""denver-c...",Future Heroes - SXSW IS CALLING,1575.0,future-heroes-sxsw-is-calling,True,False,successful,1457935201,1575.0,71.590909,29,1,2016-02-23 18:03:01,2016-03-14 06:00:00,2016-02-16 02:51:54,2016-03-14 06:00:01,2016,2,February,1,Tuesday
4,17,We're traveling to Rhode Island to film Mako a...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1465224753,USD,USD,1467825675,False,2500.0,1096433232,1465233675,"{""id"":2457078,""name"":""Narragansett"",""slug"":""na...",Rhode Island Pelagic Shark Diving conservation...,3290.0,pelagic-shark-diving-shoot,True,False,successful,1467825676,3290.0,193.529412,26,1,2016-06-06 17:21:15,2016-07-06 17:21:15,2016-06-06 14:52:33,2016-07-06 17:21:16,2016,6,June,0,Monday

In [0]:
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date

# Campaign length
df['campaign_days'] = df['deadline_date'] - df['launched_date']
df['campaign_days']=df['campaign_days']/np.timedelta64(1,'D')
df['campaign_days']=df['campaign_days'].round(0)

In [0]:
# Time between creating and launching a project
df['creation_to_launch_days'] = df['launched_date'] - df['created_date']
df['creation_to_launch_days'] = df['creation_to_launch_days']/np.timedelta64(1,'D')
df['creation_to_launch_days']=df['creation_to_launch_days'].round(0)

In [0]:
df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,disable_communication,goal,id,launched_at,location,name,pledged,slug,spotlight,staff_pick,state,state_changed_at,usd_pledged,avgAmountPledged,slug_length,state_bool,launched_date,deadline_date,created_date,state_changed_at_date,launch_year,launch_month,launch_month_name,launch_day,launch_day_name,campaign_days,creation_to_launch_days
0,103,"Funding the mixing, mastering, and promotion o...","{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1456593666,USD,USD,1459964983,False,5000.0,1023090679,1457376583,"{""id"":2452078,""name"":""Minneapolis"",""slug"":""min...",John Chuck & The Class Debut E.P.,5612.0,john-chuck-and-the-class-debut-ep,True,True,successful,1459964983,5612.0,54.485437,33,1,2016-03-07 18:49:43,2016-04-06 17:49:43,2016-02-27 17:21:06,2016-04-06 17:49:43,2016,3,March,0,Monday,30.0,9.0
1,318,We follow the challenges and achievements of g...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1495058182,USD,USD,1499054400,False,24042.0,1225553537,1496759560,"{""id"":2442047,""name"":""Los Angeles"",""slug"":""los...",Girls of Summer: Big Diamond Dreams,26237.0,girls-of-summer-big-diamond-dreams,True,True,successful,1499054401,26237.0,82.506289,34,1,2017-06-06 14:32:40,2017-07-03 04:00:00,2017-05-17 21:56:22,2017-07-03 04:00:01,2017,6,June,1,Tuesday,27.0,20.0
2,0,Task No.1 is inspired by the history and expre...,"{""id"":38,""name"":""Electronic Music"",""slug"":""mus...",GB,1357630802,GBP,USD,1362937678,False,4000.0,688464571,1357753678,"{""id"":26734,""name"":""Liverpool"",""slug"":""liverpo...",Task No.1,0.0,task-no1,False,False,failed,1362937678,0.0,0.000000,8,0,2013-01-09 17:47:58,2013-03-10 17:47:58,2013-01-08 07:40:02,2013-03-10 17:47:58,2013,1,January,2,Wednesday,60.0,1.0
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,"{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1455591114,USD,USD,1457935200,False,500.0,1502047884,1456250581,"{""id"":2391279,""name"":""Denver"",""slug"":""denver-c...",Future Heroes - SXSW IS CALLING,1575.0,future-heroes-sxsw-is-calling,True,False,successful,1457935201,1575.0,71.590909,29,1,2016-02-23 18:03:01,2016-03-14 06:00:00,2016-02-16 02:51:54,2016-03-14 06:00:01,2016,2,February,1,Tuesday,19.0,8.0
4,17,We're traveling to Rhode Island to film Mako a...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1465224753,USD,USD,1467825675,False,2500.0,1096433232,1465233675,"{""id"":2457078,""name"":""Narragansett"",""slug"":""na...",Rhode Island Pelagic Shark Diving conservation...,3290.0,pelagic-shark-diving-shoot,True,False,successful,1467825676,3290.0,193.529412,26,1,2016-06-06 17:21:15,2016-07-06 17:21:15,2016-06-06 14:52:33,2016-07-06 17:21:16,2016,6,June,0,Monday,30.0,0.0

In [0]:
df['state_changed_at_year'] = df['state_changed_at_date'].dt.year
df['state_changed_at_month'] = df['state_changed_at_date'].dt.month
df['state_changed_at_month_name'] = df['state_changed_at_date'].dt.month_name()
df['state_changed_at_day'] = df['state_changed_at_date'].dt.weekday
df['state_changed_at_day_name'] = df['state_changed_at_date'].dt.weekday_name

In [0]:
df.head()

,backers_count,blurb,category,country,created_at,currency,current_currency,deadline,disable_communication,goal,id,launched_at,location,name,pledged,slug,spotlight,staff_pick,state,state_changed_at,usd_pledged,avgAmountPledged,slug_length,state_bool,launched_date,deadline_date,created_date,state_changed_at_date,launch_year,launch_month,launch_month_name,launch_day,launch_day_name,campaign_days,creation_to_launch_days,state_changed_at_year,state_changed_at_month,state_changed_at_month_name,state_changed_at_day,state_changed_at_day_name
0,103,"Funding the mixing, mastering, and promotion o...","{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1456593666,USD,USD,1459964983,False,5000.0,1023090679,1457376583,"{""id"":2452078,""name"":""Minneapolis"",""slug"":""min...",John Chuck & The Class Debut E.P.,5612.0,john-chuck-and-the-class-debut-ep,True,True,successful,1459964983,5612.0,54.485437,33,1,2016-03-07 18:49:43,2016-04-06 17:49:43,2016-02-27 17:21:06,2016-04-06 17:49:43,2016,3,March,0,Monday,30.0,9.0,2016,4,April,2,Wednesday
1,318,We follow the challenges and achievements of g...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1495058182,USD,USD,1499054400,False,24042.0,1225553537,1496759560,"{""id"":2442047,""name"":""Los Angeles"",""slug"":""los...",Girls of Summer: Big Diamond Dreams,26237.0,girls-of-summer-big-diamond-dreams,True,True,successful,1499054401,26237.0,82.506289,34,1,2017-06-06 14:32:40,2017-07-03 04:00:00,2017-05-17 21:56:22,2017-07-03 04:00:01,2017,6,June,1,Tuesday,27.0,20.0,2017,7,July,0,Monday
2,0,Task No.1 is inspired by the history and expre...,"{""id"":38,""name"":""Electronic Music"",""slug"":""mus...",GB,1357630802,GBP,USD,1362937678,False,4000.0,688464571,1357753678,"{""id"":26734,""name"":""Liverpool"",""slug"":""liverpo...",Task No.1,0.0,task-no1,False,False,failed,1362937678,0.0,0.000000,8,0,2013-01-09 17:47:58,2013-03-10 17:47:58,2013-01-08 07:40:02,2013-03-10 17:47:58,2013,1,January,2,Wednesday,60.0,1.0,2013,3,March,6,Sunday
3,22,MAJOR KEY ALERT - Future Heroes is a Denver ra...,"{""id"":39,""name"":""Hip-Hop"",""slug"":""music/hip-ho...",US,1455591114,USD,USD,1457935200,False,500.0,1502047884,1456250581,"{""id"":2391279,""name"":""Denver"",""slug"":""denver-c...",Future Heroes - SXSW IS CALLING,1575.0,future-heroes-sxsw-is-calling,True,False,successful,1457935201,1575.0,71.590909,29,1,2016-02-23 18:03:01,2016-03-14 06:00:00,2016-02-16 02:51:54,2016-03-14 06:00:01,2016,2,February,1,Tuesday,19.0,8.0,2016,3,March,0,Monday
4,17,We're traveling to Rhode Island to film Mako a...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",US,1465224753,USD,USD,1467825675,False,2500.0,1096433232,1465233675,"{""id"":2457078,""name"":""Narragansett"",""slug"":""na...",Rhode Island Pelagic Shark Diving conservation...,3290.0,pelagic-shark-diving-shoot,True,False,successful,1467825676,3290.0,193.529412,26,1,2016-06-06 17:21:15,2016-07-06 17:21:15,2016-06-06 14:52:33,2016-07-06 17:21:16,2016,6,June,0,Monday,30.0,0.0,2016,7,July,2,Wednesday

In [0]:
df.to_csv("cleaned_aditya.csv")